%h2 Welcome to GitFake, #{current_user.name}

.container
  #user_details.col-md-2.padding-bottom
    %img.resize_image{src: current_user.image_url}
    %br
    = current_user.username
    %br
    Number of starred repos:
    = current_user.starred_repos.count
    %br
    Number of followers:
    = current_user.followers.count
    %br
    Number of users you are following:
    = current_user.following.count

  .col-md-2.padding-bottom
    %h4 You are following:
    %ul.scrollable
      - current_user.following.each do |user|
        %li
          = user.name

  .col-md-2.padding-bottom
    %h4 Your followers:
    %ul.scrollable
      - current_user.followers.each do |user|
        %li
          = user.name

  .col-md-2.padding-bottom
    %h4 Your starred repos:
    %ul.scrollable
      - current_user.starred_repos.each do |repo|
        %li
          = repo.name

  .col-md-2.padding-bottom
    %h4 Your organizations:
    %ul.scrollable
      - current_user.organizations.each do |org|
        %li
          = org.name

  .col-md-2.padding-bottom
    %h4 Your repos:
    %ul.scrollable
      - current_user.repos.each do |repo|
        %li
          = repo.name

.container
  %h3 Your Recent Commits
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Repo
        %th Date
        %th Message
    %tbody
      - current_user.recent_commits.each do |commit|
        %tr
          %td
            = commit.repo_name
          %td
            = commit.date.strftime("%I:%M %p %B %d, %Y")
          %td
            = commit.message

.container
  %h3 Your Followers' Recent Commits
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Follower
        %th Repo
        %th Date
        %th Message
    %tbody
      - current_user.follower_commits.each do |commit|
        %tr
          %td
            = commit.follower_name
          %td
            = commit.repo_name
          %td
            = commit.date.strftime("%I:%M %p %B %d, %Y")
          %td
            = commit.message
